
.Subscribe{
    transition: 0.1s;
    color: white;
    background-color: rgb(226, 43, 43);
    height: 40px;
    width: 125px;
    border-radius: 25px;
    font-size: 15px;
    border-color:rgb(226, 43, 43);
    border: none;
    opacity: 0.8;
    border-color: black;
   
    box-shadow: 7px 7px 5px rgb(89, 89, 89);
}
.Subscribe:hover{
    background-color:rgb(226, 43, 43);
    opacity: 0.9;
}
.Subscribe:active{
    color:white;
    background-color:rgb(99, 15, 15);
    box-shadow: 2px 2px 2.5px grey;
    height: 35px;
    width: 115px;
    opacity: 1;
    margin-left: 5px;
    margin-top: 2.5px;
    font-size: 18px;
    
}
